
.header{
    display: flex;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgb(238, 238, 238);
    box-shadow: 0px 5px 20px rgba(31, 31, 31, 0.1);
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(252, 252, 252);
}

.header img{
    margin-right: 90vh;
    margin-left: 0vh;
    margin-top: 1vh;
    height: 50px;
    width: 200px;
}

.options ul{
    display: flex;
    flex-direction: row;
    margin-top: 1vh;

}

.options li{
    margin-left: 5vw;
    margin-top: 2vh;
    list-style: none;
}

.options li:hover{
    cursor: pointer;
    transform: scale(1.05);
}