@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');

@keyframes fadeInAnimation {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: rgb(252, 252, 252);
  font-size: 14px;
  color: #3d3d3d;
  z-index: 1;
}

p{
  font-size: 14px;
}

img{
  width: 30vh;
  margin-left: 10vh;
  margin-bottom: 3vh;
}

.login-container{
  padding: 5%;
  width: 75vh;
  margin: 0 auto; /* Esto centrará horizontalmente el contenedor */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  animation: fadeInAnimation 0.5s ease-in-out forwards;

}

.formulario{
  display: flex;
  flex-direction: column;
  padding: 6vh;
  text-align: center;
}

label{
  padding: 8px;
  margin-bottom: 10px;
  text-align: justify;

}

input{
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #0f0f0f;
}

button{
  background-color: rgb(39, 39, 39);
  padding: 10px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  height: 5vh;
}

button:hover{
  background-color: #353535;
  transform: scale(1.01);

}

.product-container{
  display: flex;
  flex-direction: row;
  margin: 12vh 15vw;
  animation: fadeInAnimation 0.8s ease-in-out forwards;

}

.images-music img{
  width: 26vw;
  height: 60vh;
  border-radius: 23px;
  margin-right: 6vh;
}

.music-description{
   padding: 2%;
   margin-top: 6vh;
   margin-left: 2vh;
   width: 60vh;
}

.music-description h1{
  font-size: 34px;
  margin-bottom: 3vh;
  margin-top: 1vh;
}

.music-description h3{
  font-size: 16px;
  color: rgb(232, 69, 10);
}

.music-description p{
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 1vh;
  font-size: 12px;
}

.music-description button{
  background-color: rgb(232, 69, 10);
}


.alexa-des img{
  width: 80vh;
}

.alexa-des{
  display: flex;
  margin-top: 8vh;
  width: 90vw;
  text-align: justify;
  line-height: 1.6;
  animation: fadeInAnimation 0.8s ease-in-out forwards;

}

.alexa-description{
  padding: 2%;
  margin: 15vh 5vw;
}


.upgrade-membership{
  margin: 11vh 17vw;
  display: flex;
  background-color: #1c1c1c;
  margin-bottom: 25wh;
  color: white;
  border-radius: 25px;
  height: 35vh;
  animation: fadeInAnimation 0.8s ease-in-out forwards;

}


.upgrade-membership img{
  width: 32vh;
  height: 45vh;
  margin: -10vh;
}

.upgrade-text{
  padding: 7vh;
  margin-right: 13vw;
  text-align: justify;
  width: 27vw;
  line-height: 1.6;
}

.descuento-estudiantes{
  display: flex;
  padding: 5vw;
  animation: fadeInAnimation 0.8s ease-in-out forwards;

}

.descuento-estudiantes img{
  width: 38vw;
  margin-right: -5vw;
}

.estudiantes-des{
  padding: 6vw;
  text-align: justify;
  line-height: 1.6;
  margin-top: 3vh;
}

.main{
  padding: 10vh;
  margin: 20vh;
  margin-top: 4.9vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeInAnimation 0.8s ease-in-out forwards;
  margin-bottom: 0;
}

.main img{
  width: 50vw;
  margin-left: 0vw;
  margin-bottom: -3vh;
}

.main h1{
  font-size: 42px;
  margin-bottom: 0vh;
}

.main .music-image {
  width: 90vw;
  margin-top: -4vh;  
}