@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');

body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: rgb(238, 238, 238);
  font-size: 14px;
  overflow: hidden;
  color: #3d3d3d;
}

p{
  font-size: 14px;
}

img{
  width: 40vh;
  margin-left: 10vh;
  margin-bottom: 3vh;
}

.login-container{
  padding: 5%;
  width: 75vh;
  margin: 0 auto; /* Esto centrará horizontalmente el contenedor */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.formulario{
  display: flex;
  flex-direction: column;
  padding: 6vh;
  text-align: center;
}

label{
  padding: 8px;
  margin-bottom: 10px;
  text-align: justify;

}

input{
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #0f0f0f;
}

button{
  background-color: rgb(39, 39, 39);
  padding: 10px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  height: 5vh;
}

button:hover{
  background-color: #353535;
  transform: scale(1.01);

}

.product-container{
  display: flex;
  flex-direction: row;
  margin: 20vh 15vw;
}

.images-music img{
  width: 26vw;
  height: 60vh;
  border-radius: 23px;
  margin-right: 6vh;
}

.music-description{
   padding: 2%;
   margin-top: 2vh;
   margin-left: 2vh;
   width: 60vh;
}

.music-description h1{
  font-size: 34px;
  margin-bottom: 3vh;
  margin-top: 1vh;
}

.music-description h3{
  font-size: 16px;
  color: rgb(232, 69, 10);
}

.music-description p{
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 1vh;
  font-size: 12px;
}

.music-description button{
  background-color: rgb(232, 69, 10);
}